{% macro item(route, label) %}
    <li class="nav-item{% if app.request.get('_route') == route %} active{% endif %}">
        <a class="nav-link" href="{{ path(route) }}">{{ label }}
        {% if app.request.get('_route') == route %}<span class="sr-only">(current)</span>{% endif %}
        </a>
    </li>
{% endmacro %}

{% import _self as menu %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">Catho LSN2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{ menu.item('homepage', 'Home') }}
                {{ menu.item('about', 'About') }}
                {{ menu.item('services', 'Services') }}
                {{ menu.item('contact', 'Contact') }}
            </ul>
        </div>
    </div>
</nav>